*{margin: 0;
     padding: 0;
}
bordy{
     background-color: aliceblue;
     font-family: 'Andika New Basic', sans-serif;
}
.container{
     width: 1000px;
     background-color: aqua;
     margin: 0 auto;
     padding: 20px;
}
.img{
     width: 100px;
     height: 120px;
     border: 3px solid white;
     border-radius: 50%;
     float: left;
}
.header-bio{
   float: left; 
   padding: 30px;
}
h1,h2,h3,h4,h5,h6{
     color: rgb(47, 120, 255);
}
.header-contact{
     float: right; 
     padding: 30px;
}
.header-contact a{
     text-decoration: none;
     color: hotpink;
     font-weight: bold;
     
}
.header-contact a:hover{
     text-decoration:underline;
     color: blue;
     
}
.div-clear{
     clear: both;
}
hr{
     border: solid black 3px;
     width: 100%;
     margin: 20px auto;
     border-bottom: none;
}
/*--personal saction start*/
#personal-saction{

}
.content{

}
.left-div{
width:30%;
float: left;
}
.right-div{
width:70%;
float: left;
}
/*--personal saction end*/
.common-hr{
     border: black solid 1px;
     border-bottom: none;
     width: 100%;
     margin: 20 auto;
}
/*--Education section start--*/
.Education-left{
float: left;
width: 45%;
}
.Education-right{
float: left;
width: 45%;     
}
/*--Education section end--*/

/*--footer section start--*/
.bottom-container{
background-color: black;
text-align: center;
padding: 10px;
}
.bottom-container a{
     color: white;
     text-decoration: none;
     margin: 20px;

}
.bottom-container p{
     color: white;
     
     margin-top: 20px;

}
/*--footer section end--*/